* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  width: 100%;
  background-image: url("images/background.png");
  background-position: top;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: black;
}

::-webkit-scrollbar {
    width: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
    background: var(--noir);
}

::-webkit-scrollbar-thumb {
    background: var(--gris);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--rouge);
}

:root {
  --gris: RGB(50,50,50);
  --grisclair: RGB(100,100,100);
  --noir: RGB(25,25,25);
  --blanc: RGB(244,244,244);
  --rouge: RGB(214,48,49);
}
