* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  width: 100%;
  background-image: url("images/background.png");
  background-position: top;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: black;
}


:root {
  --gris: RGB(50,50,50);
  --grisclair: RGB(100,100,100);
  --noir: RGB(25,25,25);
  --blanc: RGB(244,244,244);
  --rouge: RGB(214,48,49);
}
